

              *{
              padding: 0;
              margin: 0;
             }

             h1{
             	text-align: center;
             }

           .TalesdeMileto{
            background: #8679aa;
            padding: 15px;
           }

           .Empédocles{
            background: green;
           }

           .Platón{
            background: white;
            margin: 30px;
            padding: 20px;
            text-align: justify;
           }

           .Parménides{
            background: pink;
           }

           .imagennoticia{
            width: 300px
           }

           .centrarImagen{
            text-align: center;
           }

